Source: python-irgsh
Section: python
Priority: optional
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Build-Depends: debhelper (>= 5.0.37.2), python, python-setuptools
Build-Depends-Indep: python-support (>= 0.3)

Package: python-irgsh
Architecture: all
Depends: ${python:Depends}
Description: Python modules of irgsh
 .

