Source: python-irgsh
Section: python
Priority: optional
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Build-Depends: debhelper (>= 5.0.37.2), python (>= 2.5), python-setuptools

Package: python-irgsh
Architecture: all
Depends: ${python:Depends}, python-debian
Recommends: bzr, pbuilder, dput
Suggests: python-simplejson
Description: Irgsh Python Library
 This package contains common libraries for Irgsh tools.

